<div class="section">
    <h4>GET /</h4>
    <p>Returns information about the current application version, codename and vendor.</p>

    <div class="cards">
        <div class="card cyan darken-4">
            <div class="card-content white-text">
                <span class="card-title">Request</span>
                    <pre><code class="highlight"><span class="hljs-keyword">GET</span> <span class="hljs-string">/mojang</span> HTTP/1.1
<span class="hljs-attr">Host</span>: api.minepay.net
<span class="hljs-attr">Accept:</span> application/json</code></pre>
            </div>
        </div>
        <div class="card cyan darken-4">
            <div class="card-content white-text">
                <span class="card-title">Response</span>
                    <pre><code class="highlight">HTTP/1.1 <span class="hljs-number">200</span> Ok
<span class="hljs-attr">Content-Type</span>: application/json;Charset=UTF-8

<span class="json">{
    <span class="hljs-attribute">"name"</span>:     <span class="hljs-string">"MCAPI"</span>,
    <span class="hljs-attribute">"version"</span>:  <span class="hljs-string">"0.0.0-SNAPSHOT"</span>,
    <span class="hljs-attribute">"vendor"</span>:   <span class="hljs-string">"Minepay"</span>
}</span></code></pre>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="section">
    <request-profile></request-profile>
</div>
<div class="divider"></div>
<div class="section">
    <request-history></request-history>
</div>
<div class="divider"></div>
<div class="section">
    <request-name></request-name>
</div>
<div class="divider"></div>
<div class="section">
    <request-names>
        <h4>POST /v1/name</h4>
        <p>Performs a lookup for the profile identifiers of a list of player based on their display names at the current point in time.</p>

        <div class="cards">
            <div class="card cyan darken-4">
                <div class="card-content white-text">
                    <span class="card-title">Request</span>
                        <pre><code class="highlight"><span class="hljs-keyword">POST</span> <span class="hljs-string">/mojang/v1/name</span> HTTP/1.1
<span class="hljs-attribute">Host</span>: api.minepay.net
<span class="hljs-attribute">Accept</span>: application/json
<span class="hljs-attribute">Content-Type</span>: application/json

<span class="json">[
    <span class="hljs-string">"HighLordAkkarin"</span>,
    <span class="hljs-string">"Notch",</span>
    <span class="hljs-string">"HopefullyUnregisteredUsername"</span>
]</span></code></pre>
                </div>
            </div>
            <div class="card cyan darken-4">
                <div class="card-content white-text">
                    <span class="card-title">Response</span>
                    <pre><code class="highlight">HTTP/1.1 <span class="hljs-number">200</span> Ok
<span class="hljs-attribute">Content-Type</span>: application/json;Charset=UTF-8

<span class="json">[
    {
        <span class="hljs-attr">"id"</span>:   <span class="hljs-string">"d71a5dac4e71443b81584389c269e44d"</span>,
        <span class="hljs-attr">"name"</span>: <span class="hljs-string">"HighLordAkkarin"</span>
    },
    {
        <span class="hljs-attr">"id"</span>:   <span class="hljs-string">"069a79f444e94726a5befca90e38aaf5"</span>,
        <span class="hljs-attr">"name"</span>: <span class="hljs-string">"Notch"</span>
    }
]</span></code></pre>
            </div>
            </div>
        </div>
    </request-names>
</div>
