<h4>GET /v1/profile/{identifier}/history</h4>
<p>Performs a lookup for the profile history of a specific player based on their globally unique profile identifier or display name at the current point in time.</p>

<div class="cards">
    <div class="card cyan darken-4">
        <div class="card-content white-text">
            <span class="card-title">Request</span>
            <p>Try it yourself:</p>
            <input type="text" [(ngModel)]="identifier" />
                        <pre><code><span class="hljs-keyword">GET</span> <span class="hljs-string">/mojang/v1/profile/{{identifier}}/history</span> HTTP/1.1
<span class="hljs-keyword">Host</span>: api.minepay.net
<span class="hljs-keyword">Accept</span>: application/json</code></pre>
        </div>
    </div>
    <div class="card cyan darken-4">
        <div class="card-content white-text">
            <span class="card-title">Response</span>
                    <pre><code id="request-history" class="highlight">HTTP/1.1 200 Ok
Content-Type: application/json;Charset=UTF-8

[
    {
        "name":         "LordLorkin",
        "changedToAt":  null
    },
    {
        "name":         "HighLordAkkarin",
        "changedToAt":  1423053791000
    }
]</code></pre>
        </div>
    </div>
</div>
