<h4>GET /v1/profile/{identifier}</h4>
<p>Performs a lookup for the profile of a specific player based on their globally unique profile identifier or display name at the current point in time.</p>

<div class="cards">
    <div class="card cyan darken-4">
        <div class="card-content white-text">
            <span class="card-title">Request</span>
            <p>Try it yourself:</p>
            <input type="text" [(ngModel)]="identifier" />
                        <pre><code><span class="hljs-keyword">GET</span> <span class="hljs-string">/mojang/v1/profile/{{identifier}}</span> HTTP/1.1
<span class="hljs-attribute">Host</span>: api.minepay.net
<span class="hljs-attribute">Accept</span>: application/json</code></pre>
        </div>
    </div>
    <div class="card cyan darken-4">
        <div class="card-content white-text">
            <span class="card-title">Response</span>
            <pre><code id="request-profile" class="highlight">HTTP/1.1 <span class="hljs-number">200</span> Ok
<span class="hljs-attribute">Content-Type</span>: application/json;Charset=UTF-8

<span class="json">{
    <span class="hljs-attr">"id"</span>: <span class="hljs-string">"d71a5dac4e71443b81584389c269e44d"</span>,
    <span class="hljs-attr">"name"</span>: <span class="hljs-string">"HighLordAkkarin"</span>,
    <span class="hljs-attr">"properties"</span>: [
        {
            <span class="hljs-attr">"name"</span>: <span class="hljs-string">"textures"</span>,
            <span class="hljs-attr">"value"</span>: {
                <span class="hljs-attr">"timestamp"</span>: <span class="hljs-number">1467056100154</span>,
                <span class="hljs-attr">"profileId"</span>: <span class="hljs-string">"d71a5dac4e71443b81584389c269e44d"</span>,
                <span class="hljs-attr">"profileName"</span>: <span class="hljs-string">"HighLordAkkarin"</span>,
                <span class="hljs-attr">"textures"</span>: {
                    <span class="hljs-attr">"SKIN"</span>: {
                        <span class="hljs-attr">"url"</span>: <span class="hljs-string">"http://textures.minecraft.net/texture/85953b2e59d8818cfaa8878ce36fa2270b915191918a0143b9fc467f4528ec"</span>
                    }
                }
            },
            <span class="hljs-attr">"signature"</span>: <span class="hljs-string">"iygE2ZoXMitp8bBdP1debPrI5YoypdDIyMEic9b/ZjvRcyONOE0pjhHLagb1rmJuX6Q2ggC8YV+vdq1hDDAmZiou/AUTpqV0poT7FwOAE84l9Tjgb9SDxDNfrtucsFaK0QD+a5qSd1SvHs1h7dAw9B/IiUWX17sjH0mUrj4e40xveSRpiV1gCujxivSI5hp2W91mo8kh1c3XYZjUTgUNVkofKlY5wVxVsTpXdxD+tWUHyLxBl0xKV/haBN08tcAOXT+hWElFcV0TWMxOwbr2aqN5bftKHV/MbZOVAfdUWOgKh/rdusZefyV3LeOwMWi5SfE7Yb06QCAOqieBUXHJKAm49HNPkShQDi2h9uP+JZRMlRbQvuJ+jiTiZ1P5k2+KCcOry6DrOYVpoNta/nbUUE7vaR0MdzYvjWzUyCvF7GWqs+Bi/QT2vnsY1Jlu5RZ0hFmutXekXEkYTm0+H2NKw2dU6LOS/+txjk2Yhg11CDK2LI9oZ/sZuS8YelBGnyI9TP+hP00x05X2H/ZUg7Ey5QLm6fddJlSkMvc52b9BWP9/CkAMyvaFwxDRyPeYOjqbmLhDeoiMqvi9/SdLaLRNmGyEtutu1/h8b7z/QI0PZ/cmsDr9rJ6UZ+Y7PCPKYUM3fVHq79BvNV/AVvXA41P6cWei0nOpuTFegv+469wqjPA="</span>
        }
    ]
}</span></code></pre>
        </div>
    </div>
</div>
